body {
  font-family: 'Lato'
}

.sidebar {
  width: 200px;
}

ul.sections {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.sections li {
  font-size: 20px;
  font-weight: 200;
  border-bottom: 1px solid #ccc;
}


ul.sections li:last-child {
  border: none;
}

ul.sections li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
  transition: 0.3s ease;
}

ul.sections li a:hover {
  background: #f6f6f6;
  font-size: 25px;
}
