body {
  font-family: 'Lato';
}

h1 {
  color: #202020;
  font-variant: small-caps;
}

div.color-line {
  float:left;
  margin-bottom:20px;
}

div.primary {
  background: #104386;
  width: 320px;
  height: 80px;
}

div.secondary {
  background: #125358;
  width: 160px;
  height: 80px;
}

div.textprimary {
  background: #202020;
  width: 120px;
  height: 80px;
}

div.callout {
  background: #e38d0b;
  width: 80px;
  height: 80px;
}

div.btn {
  background: #f07830;
  color: white;
  text-align: center;
  clear: both;
  font-size: 16pt;
  font-variant: small-caps;
  width: 90px;
  padding: 10px;
  border-radius: 12px;
  margin: 20px;
  transition: background 0.3s;
}

div.btn:hover {
  background: #ff6600;
}
