body {
  font-family: 'Lato';
}

h1 {
  color: #3a3a3a;
}

div.color-line {
  float:left;
}

div.primary {
  background: #104386;
  width: 320px;
  height: 80px;
}

div.secondary {
  background: #125358;
  width: 160px;
  height: 80px;
}

div.textprimary {
  background: #3a3a3a;
  width: 120px;
  height: 80px;
}

div.callout {
  background: #f07830;
  width: 80px;
  height: 80px;
}
